body {
    font-family: 'Raleway', sans-serif;
}

.alert-container {}

.callout-container {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex; /* this and two rows below will center content in this contain, modal will float to the center of the image*/
    align-items: center;
    justify-content: center;

    position: relative;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)

}

.quotes-container {}

.features-container {}

/*Block dividers*/

.block-divider {
    width: 70px;
    height: 5px;
    border: 0;
}

.block-divider--orange {
    background-color: #f16306;
}

.block-divider--short {
    width: 35px;
}

/*Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin:25px 0;
    color: whitesmoke;
}

.jumbotron small{
    font-size: 60%;
    font-style: italic;
    color: whitesmoke;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f16306;
    border-color: #f16306; 
}

.btn--red:hover {
    background-color: #f73808;
    border-color: #f73808
}
.btn--red:active,
.btn--red:focus,
.btn--active:focus {
    background-color: #f16306;
    border-color: #f16306;
}