body {
    font-family: 'Raleway', sans-serif;
}

/*Alert Banner*/

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #ffc107;
    border-color: #ffc107;
}

.callout-container {
    height: 80vh;
    background: url(/images/calloutimage..jpg) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex; /* this and two rows below will center content in this contain, modal will float to the center of the image*/
    align-items: center;
    justify-content: center;

    position: relative;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)

}

.quotes-container {}

/*Features*/

.features-container {}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i { /* this class will target feat 1,2 & 3 size */
    margin-bottom: 20px;
    font-size: 45px;
    line-height:45px;
}

.feature .btn { /* Targets 3 buttons in the features section*/
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f16306;
}

/* Page headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/*Block dividers*/

.block-divider {
    width: 70px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f16306;
}

.block-divider--short {
    width: 35px;
}

.block-divider--white {
    background-color: white;
}

/* Content Containers */

.content-container {
    padding-top: 30px;
    padding-bottom: 75px;
}

.container-wrapper {

}

.container-wrapper--red {
    background-color: #f16306;
    color: white;
}

/*Nav Bar*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar { /* overriding default bootstrap settings*/
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*Jumbotron*/

.jumbotron {
    background-color: transparent;
    margin-bottom: 30%;
}

.jumbotron-header {
    color: whitesmoke;
    font-weight: bold;
    margin-top: 30%;
}

.jumbotron .lead {
    margin:50px 0;
    color: whitesmoke;
}

.jumbotron small{
    font-size: 60%;
    font-style: italic;
    color: whitesmoke;
    
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f16306;
    border-color: #f16306; 
}

.btn--red:hover {
    background-color: #f73808;
    border-color: #f73808
}
.btn--red:active,
.btn--red:focus,
.btn--active:focus {
    background-color: #f16306;
    border-color: #f16306;
}

